.container {
  position: relative;
  .head_home {
    display: flex;
    flex-direction: row;
    gap: 45px;
    height: 384px;
    margin-bottom: 140px;
    .navigate {
      padding-top: 40px;
      padding-right: 16px;
      border-right: 0.5px solid rgba(0, 0, 0, 0.3);
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
          width: 217px;
          height: 24px;
          a {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            p {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              cursor: pointer;
            }
          }
        }
        li:active {
          background-color: rgb(242, 252, 252);
        }
      }
    }
    .slider_container {
      padding-top: 40px;
      width: 892px;
      height: 344px;
      position: relative;

      .slider_left,
      .slider_right {
        width: 150px;
        height: 344px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
      }
      .slider_right {
        right: 0px;
      }
      .slider_left:active,
      .slider_right:active{
        background-color: rgba(245, 245, 245, 0.1);
      }
      .slider {
        width: 892px;
        height: 344px;
        position: relative;
        overflow-x: hidden;
        .slider_items {
          display: flex;
          flex-direction: row;
          width: auto;
          position: absolute;
          transition: transform 0.3s ease-in-out;
          .slider_item {
            display: flex;
            flex-direction: row;
            width: 892px;
            height: 344px;
            gap: 38px;
            background-color: black;
            overflow: hidden;

            .slider_item_left {
              width: 294px;
              display: flex;
              flex-direction: column;
              margin-top: 58px;
              margin-left: 64px;
              gap: 21px;
              .slider_item_left-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 24px;
                img {
                }
                p {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  color: white;
                }
              }
              h3 {
                color: white;
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px;
                letter-spacing: 1.92px;
                width: 300px;
                height: 120px;
              }
              .slider_item_left-bot {
                display: flex;
                flex-direction: row;
                gap: 8px;
                cursor: pointer;
                p {
                  cursor: pointer;
                  color: white;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
                  border-bottom: 1px solid white;
                }
                img {
                  cursor: pointer;
                }
              }
            }
            .slider_item_right {
              width: 496px;
              height: 352px;
            }
          }
        }
      }
      .slider_navigate {
        position: absolute;
        bottom: -30px;
        left: 353px;
        width: 110px;
        height: 14px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        img {
          cursor: pointer;
        }
      }
    }
  }
  .nav_home {
    margin-bottom: 40px;
    .nav_home_top {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      margin-bottom: 24px;
      .nav_home_top_block {
        width: 20px;
        height: 40px;
        border-radius: 4px;
        background-color: #db4444;
      }
      .nav_home_top_text {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #db4444;
      }
    }
    .nav_home_bot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .nav_home_bot_left {
        display: flex;
        flex-direction: row;
        gap: 87px;
        .nav_home_bot_text {
          font-size: 36px;
          font-weight: 600;
          line-height: 48px; /* 133.333% */
          letter-spacing: 1.44px;
        }
        .nav_home_bot_time {
          display: flex;
          flex-direction: row;
          gap: 17px;
          width: 302px;
          height: 50px;
          div {
            .name {
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
            }
            .time {
              font-family: Inter;
              font-size: 32px;
              font-style: normal;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 1.28px;
            }
          }
          .dought {
            color: #e07575;
            font-size: 40px;
            line-height: 45px;
          }
        }
      }
      .nav_home_bot_arrows {
        display: flex;
        flex-direction: row;
        gap: 8px;
        div {
          width: 46px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(245, 245, 245, 1);
          border-radius: 50%;
          cursor: pointer;
          img {
          }
        }
      }
      .nav_home_bot_view {
        padding: 16px 48px;
        cursor: pointer;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        border-radius: 4px;
        background: #db4444;
        color: white;
      }
      .nav_home_bot_view:active {
        background: #c53a3a;
      }
    }
  }
  .sale {
    padding-bottom: 60px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    .sale_items {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    .sale_all {
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      width: 138px;
      padding: 16px 48px;
      gap: 10px;
      border-radius: 4px;
      background: #db4444;
      color: white;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .categories {
    margin-top: 60px;
    margin-bottom: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    ul {
      display: flex;
      flex-direction: row;
      gap: 30px;
      li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 145px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
          img {
          }
        }
      }
      li:hover {
        background-color: #db4444;
        border: none;
        P {
          color: white;
        }
      }
    }
  }
  .best {
    margin-bottom: 140px;
    .best_items {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
  .advertising {
    height: 500px;
    width: inherit;
    display: flex;
    flex-direction: row;
    gap: 27px;
    background-color: black;
    margin-bottom: 71px;
    position: relative;
    .advertising_left {
      width: 443px;
      display: flex;
      flex-direction: column;
      margin-top: 69px;
      margin-left: 56px;
      .advertising_left_category {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #0f6;
      }
      .advertising_left_name {
        font-family: Inter;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px; /* 125% */
        letter-spacing: 1.92px;
        color: #fafafa;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 450px;
      }
      .advertising_left_timer {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-bottom: 40px;
        .advertising_left_time {
          width: 62px;
          height: 62px;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: -4px;
          border-radius: 50%;
          .name {
            font-size: 11px;
            font-weight: 400;
            line-height: 18px;
          }
          .time {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
          }
        }
      }
      .advertising_left_btn {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 16px 48px;
        border-radius: 4px;
        background-color: #0f6;
        color: white;
        width: 171px;
        cursor: pointer;
      }
      .advertising_left_btn:active {
        background-color: rgb(1, 237, 95);
      }
    }
    .advertising_right {
      border-radius: 504px;
      opacity: 0.3;
      background-color: #d9d9d9;
      filter: blur(100px);
      width: 504px;
      height: 500px;
    }
    img {
      position: absolute;
      right: 60px;
      top: 82px;
    }
  }
  .explore {
    margin-bottom: 140px;
    .explore_items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 60px;
      column-gap: 30px;
      .home_item_bot {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }
    .explore_all {
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      width: 138px;
      padding: 16px 48px;
      gap: 10px;
      border-radius: 4px;
      background: #db4444;
      color: white;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .arrival {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 140px;
    .group_text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: absolute;
      z-index: 1;
      .name {
        color: white;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px; /* 100% */
        letter-spacing: 0.72px;
      }
      .overview {
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
      .shop_now {
        width: 81px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer;
      }
    }
    img {
      position: absolute;
    }
    .arrival_left {
      width: 570px;
      height: 600px;
      background-color: #0d0d0d;
      border-radius: 4px;
      position: relative;
      .group_text {
        bottom: 32px;
        left: 32px;
      }
      img {
        bottom: 0px;
        right: 29px;
      }
    }
    .arrival_right {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .arrival_right_top {
        width: 570px;
        height: 284px;
        background-color: #0d0d0d;
        border-radius: 4px;
        position: relative;
        .group_text {
          bottom: 24px;
          left: 24px;
        }
        img {
          left: 138px;
          overflow: hidden;
          width: 430px;
        }
      }
      .arrival_right_bot {
        display: flex;
        flex-direction: row;
        gap: 30px;
        .arrival_right_bot_left,
        .arrival_right_bot_right {
          width: 270px;
          height: 284px;
          background-color: #0d0d0d;
          border-radius: 4px;
          position: relative;
          .group_text {
            gap: 8px;
            bottom: 24px;
            left: 24px;
          }
          img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .fill {
            width: 238px;
            height: 238px;
            opacity: 0.3;
            border-radius: 50%;
            background-color: #d9d9d9;
            filter: blur(150px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .home_more {
    display: flex;
    flex-direction: row;
    max-width: 943px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 140px;
    div {
      width: 260px;
      height: 161px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-top: 24px;
        margin-bottom: 8px;
      }
      p {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
  .arrow_slide_top {
    background-color: #f5f5f5;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    bottom: -108px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
    }
  }
}
