* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  user-select: none;
}
body {
  min-width: max-content;
  position: relative;
}
p,
h1,
h2,
h3 {
  cursor: default;
}
h1 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}
h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
ul {
  list-style-type: none;
}
a {
  all: unset;
  cursor: pointer;
}

.all {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
input[type='search']::-webkit-search-clear-button,
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
input[type='search'] {
  -webkit-appearance: none;
}
.lazy_load {
  width: 100vw;
  height: 1000px;
}
header {
  z-index: 2;
  width: 100%;
  min-width: 100%;
  .sale {
    height: 48px;
    background-color: black;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      p {
        color: white;
      }
      select {
        position: absolute;
        right: 0px;
        background-color: black;
        color: white;
        border: none;
        outline: none;
      }
    }
  }
  nav {
    border-bottom: 1px solid black;
    background-color: white;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      h1 {
        cursor: pointer;
      }
      .nav_center {
        display: flex;
        width: 367px;
        justify-content: space-between;
        align-items: center;
        li {
          a {
            font-size: 16px;
          }
          a:hover {
            border-bottom: 1px solid black;
          }
        }
      }
      .nav_right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 395px;
        position: relative;
        li {
          a {
            position: relative;
            .countWishList,
            .countBasket {
              position: absolute;
              background-color: #db4444;
              color: white;
              border-radius: 50%;
              top: -17px;
              right: 0px;
              width: 16px;
              height: 16px;
              text-align: center;
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }
          }
          img {
            cursor: pointer;
          }
          input {
            width: 243px;
            height: 38px;
            padding-left: 20px;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            background-color: #f5f5f5;
            background-image: url('/headfooter/search.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            border-radius: 4px;
            border: none;
          }
          input:focus {
            outline: none;
          }

          .nav_right_user {
            position: absolute;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            width: 224px;
            height: 208px;
            gap: 13px;
            padding-top: 18px;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            right: 0px;
            background: linear-gradient(to bottom right, #7b8299, #363b69);
            z-index: 1;
            display: none;
            li {
              width: 192px;
              margin: 0 auto;
              cursor: pointer;
              a {
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;
                img {
                  width: 24px;
                  height: 24px;
                }
                p {
                  color: white;
                  cursor: pointer;
                }
              }
            }
          }
          .user_active {
            display: flex;
          }
        }
      }
    }
  }
}
main {
  margin-top: 148px;
}
footer {
  background-color: black;
  color: white;
  height: 440px;
  width: 100%;
  .footer_info {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-between;

    .footer_exclusive {
      width: 217px;
      ul {
        li {
          input {
            width: 217px;
            height: 48px;
            background-color: black;
            border-radius: 4px;
            border: 1.5px solid white;
            color: rgba(255, 255, 255, 0.4);
            background-image: url('/headfooter/icon-send.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            padding-left: 16px;
          }
        }
      }
    }
    .footer_support {
      width: 175px;
    }
    .footer_account {
      width: 123px;
    }
    .footer_link {
      width: 109px;
    }
    .footer_download {
      width: 198px;
      ul {
        .footer_download-save {
          a {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            opacity: 0.7;
          }
        }
        .footer_download-store {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
        .footer_download-social {
          ul {
            display: flex;
            flex-direction: row;
            gap: 24px;
          }
        }
      }
    }
    li {
      ul {
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
    }
  }
  .footer_bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    opacity: 0.4;
    img {
      margin-right: 6px;
    }
  }
}
